.cover{
    background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.1px);
-webkit-backdrop-filter: blur(4.1px);
border: 1px solid rgba(255, 255, 255, 0.24)
}


.grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .grid-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  